.nav-link {
  color: #404F24;
}

.header-container {
  width: 100%;
  height: 900px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow:hidden;
}
video{
  position: absolute;
  z-indez: -1;
  opacity: 0.78;
}
video{
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  width: 100%
}

.float-right{
  position:absolute;
}

h2{
  top:80px;
  right:0;
}
